/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  html, body {
    height: 100%;
    width: 100%;
}

.container {
  border: 1px solid black;
  height: 80%;
  display: flex;
}

.column {
  border: 1px solid lightslategray;
  flex: 50%;
}