/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  html, body {
    height: 100%;
    width: 100%;
}

.container {
  border: 1px solid black;
  height: 80%;
  display: flex;
}

.alpha-container {
  height: 5%;
  background-color: lightgrey;
  padding-bottom: .5em;
  padding-top: .5em;
  text-align: center;
  font-size: 20px;
  font-style: none;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: black;
}

.column {
  border: 1px solid lightslategray;
  flex: 50%;
}